footer {
  background-color: #4A4A4A;
  height: 190px;
  color: #FFF;
  display: flex;
  font-family: 'Raleway', sans-serif;
}

.newsletter-container {
  flex: 1;
  font-size: .9rem;
  text-align: center;
}

.newsletter-container button {
  width: 200px;
  padding: 20px 21px;
  margin: 20px 50px;
  margin-bottom: 0;
  border: 2px #25D432 solid;
  background-color: #FFF;
  color: #25D432;
  font-size: 1.3rem;
  transition: 0.5s;
  font-family: 'Raleway', sans-serif;

}

.center-container{
  flex: 2;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-logos {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.footer-logos h2 {
  font-size: 2rem;
}

.footer-logos img {
  height: 45px;
  width: 45px;
}


.volunteer-container {
  flex: 1;
  font-size: .9rem;
  text-align: center;
}

.volunteer-container button {
  width: 200px;
  padding: 20px 21px;
  margin: 20px 50px;
  margin-bottom: 0;
  border: 2px #25D432 solid;
  background-color: #FFF;
  color: #25D432;
  font-size: 1.3rem;
  transition: 0.5s;
  font-family: 'Raleway', sans-serif;

}

.gradient-text {
 background: -webkit-linear-gradient(left, #69c75b ,  #10b5e4 );
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
